.addressTakenWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 700%);
    width: 350px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.addressTaken {
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    color: #f54761;
}