.frame{
    height: 100%;
    width: 100%;
}
.firstPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 3000 3000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%223000%22 height=%223000%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h3000v3000H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%230D0F10%22 d=%22M0 0h3000v3000H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23a1a1a14d%22 stroke-width=%223%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M2288 0h143v143h-143zM2860 0h143v143h-143zM715 143h143v143H715zM2431 143h143v143h-143zM2574 143h143v143h-143zM1001 286h143v143h-143zM1287 286h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a11e%22 d=%22M2431 286h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a148%22 d=%22M572 429h143v143H572z%22%2F%3E%3Cpath fill=%22none%22 d=%22M858 429h143v143H858zM2717 429h143v143h-143zM858 572h143v143H858zM1430 572h143v143h-143zM1859 572h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a10a%22 d=%22M2431 572h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a13c%22 d=%22M429 715h143v143H429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1287 715h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a131%22 d=%22M286 858h143v143H286z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2717 858h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a13d%22 d=%22M715 1001h143v143H715z%22%2F%3E%3Cpath fill=%22%23a1a1a123%22 d=%22M2574 1001h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M429 1144h143v143H429z%22%2F%3E%3Cpath fill=%22%23a1a1a136%22 d=%22M1144 1144h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1430 1144h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a13d%22 d=%22M2145 1144h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a13b%22 d=%22M2574 1144h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a118%22 d=%22M143 1287h143v143H143z%22%2F%3E%3Cpath fill=%22%23a1a1a135%22 d=%22M286 1287h143v143H286z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2574 1287h143v143h-143zM429 1430h143v143H429z%22%2F%3E%3Cpath fill=%22%23a1a1a143%22 d=%22M1430 1430h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a12c%22 d=%22M2288 1430h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M286 1573h143v143H286zM1001 1573h143v143h-143zM1859 1573h143v143h-143zM858 1716h143v143H858zM1001 1716h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a11f%22 d=%22M2002 1716h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2574 1716h143v143h-143zM1001 1859h143v143h-143zM1144 1859h143v143h-143zM2002 1859h143v143h-143zM2431 1859h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a107%22 d=%22M2574 1859h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a118%22 d=%22M2288 2002h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1430 2145h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a116%22 d=%22M1716 2145h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 2288h143v143H0zM2002 2288h143v143h-143zM2145 2288h143v143h-143zM0 2431h143v143H0zM1144 2431h143v143h-143zM2002 2431h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a141%22 d=%22M2145 2431h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2288 2431h143v143h-143zM2717 2431h143v143h-143zM1573 2574h143v143h-143zM2002 2574h143v143h-143zM2288 2574h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a10b%22 d=%22M1716 2717h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2002 2860h143v143h-143z%22%2F%3E%3Cpath fill=%22%23a1a1a13b%22 d=%22M2145 2860h143v143h-143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2717 2860h143v143h-143z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    background-position: center center;
    background-repeat: repeat;
    font-family: Poppins, sans-serif;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 20px;
}

.welcomeMsg{
    padding-top: 40px;
    font-size: 3.25rem;
    text-align: center;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.underWelcMsg{
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.colorTxt{
    color: #f54761;
}
.colorTxt2{
    color: #f55c73;
}
  

.getNow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 100px;
    background-color: #f54761;
    border: 1px solid transparent;
    color: #ffffff;
    margin-bottom: 300px;
    transition: 0.15s ease-in-out;
    overflow: hidden; /* Hide overflow to prevent the text from showing outside the box */
}

.p2 {
    display: none;
    transform: translate(10px);
    transition: transform 0.215s ease-in-out; /* Apply transition to transform property */
}
.p1{
    transition: transform 0.25s ease-in-out;
}

.getNow:hover .p2 {
    display: block;
    transition: transform 0.25s ease-in-out;
}
.getNow:hover .p1 {
    transition: transform 0.25s ease-in-out;
    transform: translateX(-10%); /* Move .p2 back inside .getNow on hover */
}

.getNow:hover {
    cursor: pointer;
    background-color: rgb(86, 171, 250);
    border: 1px solid rgb(86, 171, 250);
}


@media (max-width: 1200px){
    .welcomeMsg{
        font-size: 2.25rem;
    }
}

.secondPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: Poppins, sans-serif;
    gap: 80px;
    padding-top: 20px;
}

.contentWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.secondPageTitle{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #0D0F10;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.security, .privacy, .freedom{
    background-color:#ffffff;
    box-sizing: border-box;
    color: rgb(13, 15, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    font-family: Poppins, sans-serif;
    padding: 36px 48px;
    line-height: 21px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px 0px;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

@media (min-width: 980px){
    .security:hover{
        transform: translate(-10px, -10px);
    }
    .freedom:hover{
        transform: translate(10px, -10px);
    }
    .privacy:hover{
        transform: translate(0, -10px);
    }
}


.title12{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #f54761;
}
.txt12{
    font-size: 14px;
    text-align: center;
    color: rgb(134, 134, 139);

}

@media (min-width: 1260px){
    .secondPage{
        height: 80vh;
    }
}

@media (min-width: 400px){
    .security, .privacy, .freedom{
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .security, .privacy, .freedom {
        width: 90%;
        height: 400px;
        margin: 10px;
    }
}

@media (max-width: 1350px){
    .contentWrapper{
        gap: 20px;
    }
}

@media (max-width: 1260px){
    .contentWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .secondPageTitle{
        max-width: 400px;
    }
    .secondPage{
        gap: 20px;
        padding-bottom: 30px;
    }
    .getNow{
        margin-bottom: 50px;
    }
}

@media (max-width: 225px){
    .secondPageTitle{
        font-size: 24px;
    }
}