body{
    margin: 0;   
}

:root{
    --initial-padding: 200px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
}

.wrapperLeft{
    display: inline-flex;
    height: 60px;
    width: 100%;
    background-color: #0D0F10;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    justify-content: left;
    padding-left: var(--initial-padding);
}

.wrapperRight{
    display: inline-flex;
    height: 60px;
    width: 100%;
    background-color: #0D0F10;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    justify-content: right;
    padding-right: var(--initial-padding);
}

.overlayWrapper{
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 0px;
    width: 100%;
    height: 100vh;
    background-color: #0D0F10;
    color: #a1a1a1;
    font-family: Poppins, sans-serif;
    z-index: 100;
}

.elementsTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px 0;
    gap: 0;
    width: 220px;
    height: 280px;
}

.elementsBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
    width: 220px;
    height: 280px;
}

.featureBurgerWrap, .pricingBurgerWrap, .downloadBurgerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 32px;
    padding: 4px 0;
    margin: 0px 0px 16px;
}

.createAccBurger{
    padding-top: 8px;
}

.createAccBtnBurger{
    width: 220px;
    height: 40px;
    border: 1px solid rgb(41, 151, 255);
    background-color: rgb(41, 151, 255);
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-family: Poppins, Arial, "sans-serif";
}

.loginBtnBurger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 40px;
    border: 1px solid #A1A1A1;
    background-color: #0D0F10;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-family: Poppins, Arial, "sans-serif";
}

@media (min-width: 300px){
    .overlayWrapper{
        width: 260px;
        height: 700px;
    }
}
@media (max-width: 250px){
    .point{
        transform: translate(-100px);
    }
}

@media (max-width: 1500px) {
    :root {
      --initial-padding: 160px;
    }
  }
  
  @media (max-width: 1200px) {
    :root {
      --initial-padding: 60px;
    }
  }
  
  @media (max-width: 992px) {
    :root {
      --initial-padding: 40px;
    }
  }

  @media (max-width: 880px) {
    :root {
      --initial-padding: 30px;
    }
  }
  
  @media (max-width: 768px) {
    :root {
      --initial-padding: 20px;
    }
  }
  

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 40px;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A1A1A1;
    cursor: pointer;
    padding-right: 40px;
    font-weight: 300;
    font-size: 14px;
}

.features:hover{
    color: #ffffff;
}

.tick{
    transform: rotate(-90deg);
    padding: 4px;  
}

.tickTwo{
    transform: rotate(-90deg);
    padding: 4px;
}

.rotate {
    transform: rotate(-270deg);
    transition: transform 0.2s ease-in-out;
    color: #ffffff;
}

.rotateBack{
    transition: transform 0.2s ease-in-out;
}

.featuresTxt{
    color: #ffffff;
}
.featuresTxtBack{
    color: #A1A1A1;
}

.logoLabel{
    color: #ffffff;
    font-family: Poppins, sans-serif;
    padding-left: 5px;
    cursor: pointer;
    text-wrap: nowrap;  
}

.logo{
    width: 32px;
}

.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A1A1A1;
    padding-right: 40px;
    font-weight: 300;
    font-size: 14px;
}
.pricing:hover{
    cursor: pointer;
    color: #ffffff;
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A1A1A1;
    padding-right: 40px;
    font-weight: 300;
    font-size: 14px;
}
.download:hover{
    cursor: pointer;
    color: #ffffff;
}

.downTxt{
    color: #ffffff;
}
.downTxtBack{
    color: #A1A1A1;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A1A1A1;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 500;
}
.login:hover{
    cursor: pointer;
    color: #ffffff;
}

.createAcc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px; 
}
.createAccBtn{
    color: #ffffff;
    font-family: Poppins, sans-serif;
    background-color: #0D0F10;
    border: 1px solid #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 32px;
    border-radius: 4px;
    height: 32px;
    font-weight: 500;
    text-wrap: nowrap;
}

.createAccBtn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #0D0F10;
    transition: 0.3s ease-in-out;
}

.burgerMenu{
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger{
    font-size: 1px;
    width: 18px;
    height: 2.5px;
    border-radius: 100px;
    background-color: #A1A1A1;
    color: #A1A1A1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5px;
}
.none{
    display: none;
}

.closeIconLine{
    position: absolute;
    width: 17.5px;
    height: 2px;
    border-radius: 100px;
    background-color: #A1A1A1;
    transform: rotate(-45deg);
}

.closeIconLineTwo{
    position: absolute;
    width: 17.5px;
    height: 2px;
    border-radius: 100px;
    background-color: #A1A1A1;
    transform: rotate(45deg);
}


@media (min-width: 1200px){
    .burgerMenu{
        display: none;
    }
    .overlayWrapper{
        display: none;
    }
}

@media (max-width: 1200px) {
    .features, .pricing, .download, .login, .createAcc{
        display: none;
    }
    .wrapperRight{
        align-items: center;
    }
}


.featuresMenuWrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 305px;
    top: 60px;
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    color: #0D0F10;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1500px){
    .featuresMenuWrapper{
        left: 265px;
    }
}

.allFeatures{
    width: 85%;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.whyUseVpn{
    width: 85%;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.allFeatures:hover{
    cursor: pointer;
    background-color: rgb(86, 171, 250);
}
.whyUseVpn:hover{
    cursor: pointer;
    background-color: rgb(86, 171, 250);
}


.resourcesMenuWrapper{
    display: flex;
    position: absolute;
    left: 515px;
    top: 60px;
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    color: #0D0F10;
    align-items: center;
    justify-content: center;
}

.support{
    width: 85%;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.support:hover{
    cursor: pointer;
    background-color: rgb(86, 171, 250);
}


@media (max-width: 1500px){
    .resourcesMenuWrapper{
        left: 265px;
    }
}
