.txtResetPass{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgb(13, 15, 16);
}