.registerWrapper{
    background-color: #0D0F10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerForm{
    background-color:#ffffff;
    border-radius: 6px;
    color: rgb(13, 15, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    font-family: Poppins, sans-serif;
}

.imageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 40px;
    transform: translate(-95%);
}

.logoLabelTwo{
    color: #ffffff;
    font-family: Poppins, sans-serif;
    padding-left: 5px;
    cursor: pointer;
    text-wrap: nowrap;  
}

.logoTwo{
    width: 32px;
}

.welcome{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    font-family: Poppins, Arial, "sans-serif";
    margin: 0px;
    color: #0D0F10;
    margin-top: 80px;
    margin-bottom: 80px;
}

.emailClass{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 70%;
    height: 40px;
    padding-bottom: 40px;
}

.passwordClass{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 70%;
    height: 40px;
    padding-bottom: 60px;
}


.passBox, .emailBox{
    padding: 10px 16px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    color: inherit;
}

.labelWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eye{
    background: linear-gradient(to bottom right, transparent 46%, black 46%, black 54%, transparent 54%);
}

.eye:hover{
    cursor: pointer;
}

.passChecker{
    display:inline-flex;
    font-size: 10px;
    justify-content: left;
    color: rgb(158, 159, 159);
    margin-top: 4px;
}
.checkMarkTwo, .checkMarkThree{
    margin-right: 10px;
    margin-left: 14px;
}
.checkMarkOne{
    margin-right: 10px;
    margin-left: 4px;
}

.valid{
    color: rgb(60, 199, 0);
}

/* Register Btn css in Login.css*/

.arrowBack{
    position: absolute;
    color: #ffffff;
    font-family: Poppins, Arial, "sans-serif";
    font-size: 40px;
    left: 5em;
    top: 88px;
    transition: 0.3s ease-in-out;
}
.arrowBack:hover{
    cursor: pointer;
    transform: translate(-10px);
    padding-right: 20px;
}

@media only screen and (max-width: 1380px) {
    .arrowBack{
        left: 4em;
    }
}
@media only screen and (max-width: 1130px) {
    .arrowBack{
        left: 3.5em;
    }
}
@media only screen and (max-width: 1000px) {
    .arrowBack{
        left: 2.5em;
    }
}
@media only screen and (max-width: 850px) {
    .arrowBack{
        left: 1.5em;
    }
}
@media (max-width: 800px) {
    .arrowBack{
        position: relative;
        color: #0D0F10;
        left: -180px;
        top: 150px;
        transition: 0s;
    }
}
@media (max-width: 500px) {
    .arrowBack{
        position: absolute;
        color: #0D0F10;
        left: 50px;
        top: 10px;
    }
}

@media (min-width: 500px) {
    .loginForm {
        width: 500px;
        height: 700px;
    }
    .loginWrapper{
        height: 100vh;
        gap: 24px;
    }
    .registerForm {
        width: 500px;
        height: 700px;
    }
    .registerWrapper{
        height: 100vh;
        gap: 24px;
    }
}

@media (max-width: 500px){
    .imageTwo{
        display: none;
    }
    .logoTwo{
        display: none;
    }
    .logoLabelTwo{
        display: none;
    }
    .loginForm{
        height: 100vh;
    }
    .registerForm{
        height: 100vh;
    }
    .loginForm{
        border-radius: 0px;
    }
    .registerForm{
        border-radius: 0px;
    }
    .passBox{
        font-size: 20px;
    }
    .emailBox{
        font-size: 20px;
    }
}

@media (max-width: 1200px){
    .arrowBack:hover{
        transform:(0px ,0px);
    }
}